In [116]:
from math import sqrt
from scipy import stats

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from pydataset import data
import statistics

# Simulation

#### Simulation with head and tails coin flip

In [3]:
outcomes = ["Heads", "Tails"]
n_simulations = 1_000_000

flips = np.random.choice(outcomes,  size=n_simulations)
flips[0:5]
(flips == "Heads").mean()

0.499804

#### Simulation with a 6 sided Dice

In [4]:
outcomes = [1, 2, 3, 4, 5, 6]

n_simulations = 10_000

rolls = np.random.choice(outcomes, size=n_simulations)

# What are the chances we roll a 5?
(rolls == 5).mean()

0.166

#### Simulation with 2 Dice

In [5]:
# What are the odds of rolling Snake Eyes on two dice?

# Step 1 Represent our outcomes
outcomes = [1, 2, 3, 4, 5, 6]

# Step 2: Create a matrix of random data where rows=simulations, columns=trial

# Simulation = the number of times we run the experiment
# Trials = the number of things in each experiment

n_simulations = 1_000_000
n_trials = 2 # b/c we're rolling 2 dice with each experiment

# size argument can set our simulation and trial size
rolls = np.random.choice(outcomes, size=(n_simulations, n_trials))

# Step 3: Apply an aggregate row-wise
sum_of_rolls = rolls.sum(axis=1) # axis=1 means sum across the rows
(sum_of_rolls == 2).mean()

0.027624

#### Cool Tricks

In [6]:
# What are the experimental probabilities of rolling each sum
df = pd.DataFrame()

# possible sum outcomes from 2 dice
df["outcome"] = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

# write a lil' function that gets the probability
def get_prob(n):
    return (sum_of_rolls == n).mean()

get_prob(2)

0.027624

In [7]:
# set the probability to its own column
df["probability"] = df.outcome.apply(get_prob)

print("Sum outcome of rolling 2 dice and the probability of seeing that outcome")
df

Sum outcome of rolling 2 dice and the probability of seeing that outcome

    outcome  probability
0         2     0.027624
1         3     0.055729
2         4     0.083154
3         5     0.111273
4         6     0.138745
5         7     0.166743
6         8     0.138879
7         9     0.111397
8        10     0.082868
9        11     0.055683
10       12     0.027905

#### Setting our own probabilities

In [8]:
# Let's find a way to represent out data
outcomes = ["Heads", "Tails"]

flips = np.random.choice(outcomes, size=(10_000, 1), p=[0.55, 0.45])

(flips == "Heads").mean()

0.5502

In [ ]:
#Exampe below is working with heads and tails 1= head and 0=tails

In [12]:
outcomes = [1, 0]
flips = np.random.choice(outcomes, size=(100_000, 2), p=[0.55, 0.45])
num_of_heads = flips.sum(axis=1)
(num_of_heads == 2).mean() #what is the probablity of getting heads twice

0.30468

# Probability Distributions

#### Types of Distributions
- Uniform distributions have equal likelyhoods amont all outcomes, like a fair coin.
- Binomial distributions are all about determining a binary outcome of an event. Success/failure, for example
- Normal distributions model a continuous random variable.
- Poisson distributions a certain amount of events occuring over a time interval

<img src="map.png">

In [21]:
die_distribution = stats.randint(1, 7)# the 7 is not inclusiv. This is a dice distro 1-6 sides

## Probability Mass Function (pmf)

In [22]:
die_distribution.pmf(3) #odds of rolling excatly 3

0.16666666666666666

In [28]:
die_distribution.pmf(1) #odds of rolling excatly 1

0.16666666666666666

## Cumulative Density Function (cdf)

In [23]:
die_distribution.cdf(3) #odds of rolling a 3 or less

0.5

In [27]:
die_distribution.cdf(6) #odds of rolling a 6 or less

1.0

## Percent Point Function (ppf)

In [38]:
die_distribution.ppf(1/2) #.5 probability?

3.0

In [43]:
die_distribution.ppf(6/6) #notice at 100% probability? you will get all values less

6.0

## Survival Function (sf)

In [25]:
die_distribution.sf(3) #odds of rolling higher than 3

0.5

In [26]:
die_distribution.sf(4)#odds of rolling higher than 4

0.33333333333333337

##  Inverse Survival Function (isf)

In [36]:
die_distribution.isf(1/2) #.5 probability? you will get a 3 or higher

3.0

In [34]:
die_distribution.isf(1/3) #.33 probabiliy? you will get a 4 or higher

4.0

In [42]:
die_distribution.isf(6/6) #notice that at 100% probability you will not get anything greater

0.0

# Binomial Distribution

You are taking a multiple choice test consisting of 30 questions that you forgot to study for. Each question has 4 possible answers and you will choose one at random. What is the probability you get more than 10 of the questions right?

In [45]:
test = stats.binom(30, .25)

 We want to know the probability that X > 10

In [46]:
test.sf(10)# since we are looking for x>10 we used sf

0.10572812269266013

Suppose there is a 5% chance that a Codeup student will show up late to class. With a class of 20, what is the likelihood that everyone shows up on time?

In [47]:
late = stats.binom(20, .05) #.05 chance of success, in which, means success they were late to class

In [48]:
late.pmf(0)  #.05 chance of success(being late).  0 students beign late

0.3584859224085422

In [66]:
late.pmf(20) #.05 chance of success(being late).  20 students beign late.

9.536743164062544e-27

Now suppose there is a 95% chance that a Codeup student will show up on time. With a class of 20, what is the likelihood that everyone shows up late?

In [49]:
on_time = stats.binom(20, .95)

In [64]:
on_time.pmf(0) # @ .95 chance of success. 0 students were on time to class. Makes sense at 95%

9.536743164062679e-27

In [65]:
on_time.pmf(20) # @ .95 chance of success. 20 students were on time to class.

0.3584859224085419

# Normal Distribution

Suppose that a store's daily sales are normally distributed with a mean of 12,000 dollars and standard deviation of 2000 dollars. How much would the daily sales have to be to be in the top 10% of all days?

In [67]:
sales = stats.norm(12_000, 2000)

In [76]:
sales.ppf(.90)

14563.103131089201

In [77]:
sales.cdf(14563.103131089201) # can always check work to see if cdf is = to .90 which would be in the top 10%

0.9

How likely is it that the store sells less than 10,000 dollars one day?

In [78]:
sales.cdf(10_000)

0.15865525393145707

# Poisson Distribution

Codeup knows that, on average, students consume 5 lbs of coffee per week. How likely is it that the coffee consumption for this week is only 3 lbs?

In [81]:
coffee = stats.poisson(5)

In [82]:
coffee.pmf(3)

0.1403738958142805

What is the likelihood that more than 7 lbs of coffee are consumed?

In [83]:
coffee.sf(7)

0.13337167407000744

# Hypothesis Testing

The data types
1. boolean x numeric (t-test) / comparison of means  across the 2 groups (churned customers vs. not churned customers)
2. boolean x boolean (chi-square) / comparison of proportions/relationships 
4. categorical x boolean (chi-square) / comparison of proportions/relationships 
7. numeric x numeric (pearson's correlation) / linear correlation between two continuous values, does one affect the other.

### Key terms

**p-value:** probability that we observed this result due to chance. if it's less than our alpha, we reject the null hypothesis...there IS a difference, or a relationship. 

**False Negative Rate:** P(FN) = P(Type II Error)
False Negative: Failing to reject null hypothesis when it is false. 
i.e. there is a difference but test told you otherwise. 

**False Positive Rate:** P(FP) = P(Type I Error)
False Positive: Said there was a difference where there wasn't. 
Alpha is your false positive rate.

1. id the question
2. state the hypotheses
3. validate assumptions
4. run our test, set our significance level, $\alpha$
5. get results: test statistic & p-value
6. evaluate results and draw conclusions

# T-Test

|Goal|$H_{0}$|Data Needed|Parametric Test|Assumptions*|Non-parametric Test|  
|---|---|---|---|---|---|  
|Compare observed mean to theoretical one|$\mu_{statsDegrees} = \mu_{allGraduates}$|array-like of observed values & float of theoretical|One sample t-test: scipy.stats.ttest_1samp|Normally Distributed\*\*|One sample Wilcoxon signed rank test|   
|Compare two observed means (independent samples)|$\mu_{churned} = \mu_{notchurn}$|2 array-like samples|Independent t-test (or 2-sample): scipy.stats.ttest_ind|Independent, Normally Distributed\*\*, Equal Variances\*\*\*|Mann-Whitney's test|   
|Compare several observed means (independent samples)|$\mu_{vericosa} = \mu_{virginica} = \mu_{setosa}$|n array-like samples|ANOVA: scipy.stats.f_oneway|Independent, Normally Distributed\*\*, Equal Variances|Kruskal-Wallis test|   

\*If assumptions can't be met, the equivalent non-parametric test can be used.   
\*\*Normal Distribution assumption can be be met by having a large enough sample (due to Central Limit Theorem), or the data can be scaled using a Gaussian Scalar.   
\*\*\*The argument in the stats.ttest_ind() method of `equal_var` can be set to `False` to accomodate this assumption.

A t-test can help us answer questions like:

Are the salaries of the marketing department higher than the company average?<br>
Do customers that receive marketing emails spend more money?<br>
Are sales for product A higher when we run a promotion for it?<br>

#### 1. Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices.<br> A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days.<br> A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

What are we comparing?
- average time (numeric continuous values) to sell for two different groups (categories)

Form a hypothesis:

#### $H_0$ = There is no difference in average time to sell at two offices   
#### $H_a$ = There is difference in average time to sell at two offices

Significance level $\alpha$ = 0.05

In [91]:
alpha = 0.05

t, p = stats.ttest_ind_from_stats(100,20,50, 90,15,40) #("mean1", "std1", "sample1", "mean2", "std2", "sample2")
t,p

(2.6252287036468456, 0.01020985244923939)

In [92]:
if p<alpha:
    print("reject null hypothesis")
else:
    print("Fail to reject the null hypothesis")

reject null hypothesis

# 2-Sample, 2-tailed T-Test

In [95]:
mpg = data('mpg')
mpg.head(3)

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact

### Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

Comparing fuel economy two different sub-groups (2-sample, 2-tailed t-test)

$H_0$: there is no difference in fuel-efficiency in cars from 2008 vs 1999  
$H_a$: there is a difference in fuel-efficiency in cars from 2008 vs 1999

Calculate average fuel economy assuming 50% highway and 50% city driving

In [98]:
mpg['avg_fe'] = stats.hmean(mpg[['cty', 'hwy']], axis =1)
mpg.head(3)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,avg_fe
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,22.212766
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,24.360000
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,24.313725

In [99]:
fe_2008 = mpg[mpg.year == 2008].avg_fe
fe_1999 = mpg[mpg.year == 1999].avg_fe

In [147]:
fe_2008.var(), fe_1999.var()

(22.550836772260343, 25.850396545865912)

In [145]:
stats.levene(fe_2008, fe_1999)

LeveneResult(statistic=0.031071867429515194, pvalue=0.8602339200830025)

In [100]:
t, p = stats.ttest_ind(fe_2008, fe_1999)
t, p

(-0.3011962975077886, 0.7635345888327115)

In [101]:
if p<alpha:
    print("reject null hypothesis")
else:
    print("Fail to reject the null hypothesis")

Fail to reject the null hypothesis

# 1-Sample, 1-Tailed T-Test (P/2)

### Do compact cars have the same fuel-efficient than the average car?

$H_0$: There is less or equal fuel-efficiency between compact cars and the population average fuel-efficiency <b>(t<0)</b><br>
$H_a$: Compact cars are more fuel efficient than the average car <b>(t>0)</b>

In [113]:
fe_compact = mpg[mpg['class'] == 'compact'].avg_fe
Œº = mpg.avg_fe.mean()

t, p = stats.ttest_1samp(fe_compact, Œº) #1samp, 1 tailed, not independent
t, p

(7.512360093161354, 1.5617666348807727e-09)

In [114]:
if (alpha < p):
    print("reject Null Hypothesis")
elif((t > 0)):
    print("Reject Null Hypothesis")
else:
    print("Fail to reject Null Hypthesis")

Reject Null Hypothesis

### Is the mean of monthly charges of customers who churn significantly higher than the mean across all customers?

In [127]:
df = pd.read_csv("Cust_Churn_Telco.csv")

$H_{0}$: Mean of monthly charges of churned customers <= Mean of monthly charges of all customers  
$H_{a}$: Mean of monthly charges of churned customers > Mean of monthly charges of all customers

Compute test statistic and probability (t-statistic & p-value)**

- scipy.stats.ttest_1samp
- For a 1-tailed test where our alternative hypothesis is testing for "greater than", we evaluate ùëù/2 < ùõº  and  ùë° > 0.

In [128]:
churn_sample = df[df.Churn=='Yes'].MonthlyCharges

In [129]:
overall_mean = df.MonthlyCharges.mean()

In [130]:
t, p = stats.ttest_1samp(churn_sample, overall_mean)

In [132]:
t, p

(16.965403080505645, 3.7406392993841064e-60)

In [133]:
if alpha < p/2:
    print("reject Null Hypothesis")
elif t>0:
    print("reject Null Hypothesis")
else:
    print("fail to reject Null Hypothesis")

reject Null Hypothesis

# ANOVA Analysis of Variance

Goal: Compare means of groups a, b & c.

In [117]:
df = sns.load_dataset('iris')
df.species.value_counts()

versicolor    50
setosa        50
virginica     50
Name: species, dtype: int64

In [120]:
versicolor_sepal_length = df[df.species == 'versicolor'].sepal_length
virginica_sepal_length = df[df.species == 'virginica'].sepal_length
setosa_sepal_length = df[df.species == 'setosa'].sepal_length

In [121]:
print(versicolor_sepal_length.mean())
print(virginica_sepal_length.mean())
print(setosa_sepal_length.mean())

5.936
6.587999999999998
5.005999999999999

State Hypotheses**

$H_{0}$: population means of the sepal length for the three species, versicolor, virginica & setosa, are all equal.  

$H_{a}$: population means of the sepal length for the three species, versicolor, virginica & setosa, are NOT all equal.

Set Significance Level**

In [123]:
alpha = .05

In [122]:
print(versicolor_sepal_length.var())
print(virginica_sepal_length.var())
print(setosa_sepal_length.var())

0.2664326530612246
0.40434285714285706
0.12424897959183666

In [124]:
f, p = stats.f_oneway(versicolor_sepal_length, virginica_sepal_length, setosa_sepal_length)
f, p

(119.26450218450472, 1.6696691907693648e-31)

In [125]:
if p < alpha:
    print("We reject $H_{0}$")
else:
    print("We fail to reject $H_{0}$")

We reject $H_{0}$

# Pearson's Correlation (numeric x numeric)

In [135]:
url = "https://gist.githubusercontent.com/ryanorsinger/3fce5a65b5fb8ab728af5192c7de857e/raw/a0422b7b73749842611742a1064e99088a47917d/clean_telco.csv"
df = pd.read_csv(url, index_col="id")

### Use the telco_churn data. Does tenure correlate with monthly charges?

- $H_o$: tenure and monthly charges are not <b>linearly</b> correlated
- $H_a$: tenure and monthly charges are <b>linearly</b> correlated

In [136]:
corr, p = stats.pearsonr(df.tenure_month, df.monthly_charges)

if p < alpha:
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")
    
corr, p

We reject the null hypothesis

(0.2460222267886157, 1.8834273042643495e-97)

### Use the telco_churn data. Does tenure correlate with Total charges?


- $H_o$: tenure and total charges are not linearly correlated
- $H_a$: tenure and total charges are linearly correlated

In [137]:
corr, p = stats.pearsonr(df.tenure_month, df.total_charges)

if p < alpha:
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")
    
corr, p

We reject the null hypothesis

(0.8257328669183063, 0.0)

# Chi-Squared ((categorical | boolean) x boolean) / Test for Independence

In [140]:
df = data('tips')

Form hypothesis:

- $H_0$ There is no association between the smoker and time of the day (independence)
- $H_a$ is that there is a association between smoker and time of day

In [141]:
# pandas crosstab to make a 'contingency' table
observed = pd.crosstab(df.smoker, df.time)
observed

time    Dinner  Lunch
smoker
No         106     45
Yes         70     23

In [142]:
chi2, p, degf, expected = stats.chi2_contingency(observed)

In [143]:
print('Observed\n')
print(observed.values)
print('---\nExpected\n')
print(expected.astype(int))
print('---\n')
print(f'chi^2 = {chi2:.4f}')
print(f'p     = {p:.4f}')

Observed

[[106  45]
 [ 70  23]]
---
Expected

[[108  42]
 [ 67  25]]
---

chi^2 = 0.5054
p     = 0.4771

In [144]:
if p < alpha:
    print('We reject the null')
else:
    print("we fail to reject the null")

we fail to reject the null